/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
	src: url('font/IntegralCF-Regular.woff2') format('woff2'),
		url('font/IntegralCF-Regular.woff') format('woff');
	font-family: "Integral";
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url('font/IntegralCF-RegularOblique.woff2') format('woff2'),
		url('font/IntegralCF-RegularOblique.woff') format('woff');
	font-family: "Integral";
	font-weight: normal;
	font-style: oblique;
}
@font-face {
	src: url('font/IntegralCF-Medium.woff2') format('woff2'),
		url('font/IntegralCF-Medium.woff') format('woff');
	font-family: "Integral";
	font-weight: medium;
	font-style: normal;
}
@font-face {
	src: url('font/IntegralCF-MediumOblique.woff2') format('woff2'),
		url('font/IntegralCF-MediumOblique.woff') format('woff');
	font-family: "Integral";
	font-weight: medium;
	font-style: oblique;
}
@font-face {
	src: url('font/IntegralCF-DemiBold.woff2') format('woff2'),
		url('font/IntegralCF-DemiBold.woff') format('woff');
	font-family: "Integral";
	font-weight: "demi";
	font-style: normal;
}
@font-face {
	src: url('font/IntegralCF-DemiBoldOblique.woff2') format('woff2'),
		url('font/IntegralCF-DemiBoldOblique.woff') format('woff');
	font-family: "Integral";
	font-weight: "demi";
	font-style: oblique;
}
@font-face {
	src: url('font/IntegralCF-Bold.woff2') format('woff2'),
		url('font/IntegralCF-Bold.woff') format('woff');
	font-family: "Integral";
	font-weight: bold;
	font-style: normal;
}
@font-face {
	src: url('font/IntegralCF-BoldOblique.woff2') format('woff2'),
		url('font/IntegralCF-BoldOblique.woff') format('woff');
	font-family: "Integral";
	font-weight: bold;
	font-style: oblique;
}
@font-face {
	src: url('font/IntegralCF-ExtraBold.woff2') format('woff2'),
		url('font/IntegralCF-ExtraBold.woff') format('woff');
	font-family: "Integral";
	font-weight: bolder;
	font-style: normal;
}
@font-face {
	src: url('font/IntegralCF-ExtraBoldOblique.woff2') format('woff2'),
		url('font/IntegralCF-ExtraBoldOblique.woff') format('woff');
	font-family: "Integral";
	font-weight: bolder;
	font-style: oblique;
}
@font-face {
	src: url('font/IntegralCF-Heavy.woff2') format('woff2'),
		url('font/IntegralCF-Heavy.woff') format('woff');
	font-family: "Integral";
	font-weight: "heavy";
	font-style: normal;
}
@font-face {
	src: url('font/IntegralCF-HeavyOblique.woff2') format('woff2'),
		url('font/IntegralCF-HeavyOblique.woff') format('woff');
	font-family: "Integral";
	font-weight: "heavy";
	font-style: oblique;
}

/*CSS*/
:root{
	--rosso: #e23a27;
	--nero: #22181c;
	--bianco: #fbfaf1;
	--rosso-variant: #e76251; 
	font-size: 10px;
	text-transform:uppercase;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	z-index: 0;
}

body{
	min-width: 500px;
	font-family: Montserrat, sans-serif;
	color: var(--nero);
	line-height: 1.6;
	background-color:var(--rosso);
	
}
.page{
	background-color: var(--bianco);
	background-image: url(img/texture-30.png);
	background-repeat: repeat;	
}
.index{
	overflow-y: hidden;
}


.flex{
	display: flex;
	justify-content: center;
	align-content: center;
}	
.grid{
	display: grid;
	padding: 0 27rem;
	margin: 2rem 0;
	overflow: hidden;
	scroll-behavior: auto;
	gap: 1rem;
}


h1{
	font-family:"Integral";
	font-size: 4rem;
	font-weight: bolder;
	font-style: normal;
	color: var(--rosso);
}
h2{
	font-family: "Integral";
	font-size: 3rem;
	font-weight: "demi";
	color: var(--nero);
}
.no-scroll{
	overflow:hidden;
	scroll-behavior: auto;
}

.texture{
	background-image: url(img/texture.svg);
	background-repeat: repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	mix-blend-mode: multiply;
	pointer-events: none;
	opacity: 60%;
}

ul{
	list-style-type: none;
} 

a{
	font-family: "Integral";
	font-weight: normal;
	text-decoration: none;
	color: var(--bianco);
}
/*
.offset-nav{
	width: 100%;
	top: 0%;
	height: 10rem;
}*/
.navbar{
	background-color: var(--nero);
	color: var(--bianco);
	height: 7.6rem;
	overflow: hidden;
	scroll-behavior: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 50;
}


.navbar .flex{
	justify-content: space-between;
}
.navbar ul{
	display: flex;

}
.navbar a{
	font-size: 1.8rem;
	font-weight: 800;
	white-space: nowrap;
	color:  var(--bianco);
	padding: 1rem;
	margin: 0 0.5rem;
}
.navbar a:hover{
	color: var(--rosso);
}

.container{
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	scroll-behavior: auto;
	padding: 0 4rem;
	height: auto;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container a .logo{
	width: 18rem;
	height: auto;
	padding-top: 0.8rem;
}

.eyes{
	height: 100%;
}
.grid-homepage{
	display: grid;
	margin: 5rem 0rem 0rem 0rem;
	grid-template-columns: repeat(7,1fr);
	gap: 10px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	scroll-behavior: auto;
}

  .eye{
	background-image: url(img/eye.png);
	width: 17.2rem;
	height: 10rem;
	background-repeat: no-repeat;
	background-size: 17.2rem 10rem;
	/*
	width: 170px;
	height: 80px;
	background: var(--nero);
	border-radius: 50%;
	overflow: hidden;
	*/
	}

  .wrap-ball{
	  position: relative;
	  width: 10rem;
	  height: 6rem;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%,-50%);	
	  border-radius: 70% 50% 0 0;
		overflow: hidden; 
	}
  
  .ball{
	position: relative;
	width: 40px;
	height: 40px;
	background: var(--nero);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	border-style: solid;
	border-width: 12px;
	border-color: var(--bianco);
	}

button{
	margin: 5rem 0 0 0;
	border-radius: 0.6rem;
	border-style: none;
	background-color: var(--nero);
	font-family: "Integral";
	font-size: 2rem;
	white-space: nowrap;
	font-weight: 800;
	color: var(--bianco);
	padding: 2rem 4rem;
	cursor: pointer;
}
.variant{
	background-color: var(--bianco);
	color: var(--rosso-variant);
}
.variant:hover{
	background-color: var(--rosso-variant);
	color: var(--bianco);
	transition: 0.3s;
}

.invisible{
	position: absolute;
	border-radius: 0rem;
	background-color: transparent;
	font-size: 1.4rem;
	font-weight: 800;
	color:	transparent;
	padding: 1rem 3rem;
}

#home-btn{
	padding: 2rem
}

.classic:hover{
	background-color: var(--rosso-variant);
	transition: 0.3s;
}



.profile-section{
	grid-template-columns: repeat(2,1fr);
	grid-template-rows:1fr 8fr 1fr 1fr;	
	margin-top: 5rem;
}


.graph{
	background-image: url("img/assets/profile/red-bg.png");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	grid-template-columns: repeat(18,1fr);
	gap: 0;
	color: var(--bianco);
	padding: 0;
	margin-right: 15rem;
}
.tiles{
	height: 100%;
	padding-top: 3rem;
	padding-bottom: 5rem;
	background-size: contain;
	border-color: var(--nero);
	
}
.gridline{
	background-image: url("img/assets/profile/TextureViz/line.png");
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center;
	transform: translate(-2rem,-10rem);
}

.award-section{
	grid-template-columns: 0.1fr 1fr 1fr 1fr;
}
.award-card{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 2rem;
	padding: 0;
}

.aw-img{
	width: 100%;
	height: 40rem;
	object-fit: cover;
}

.gspan-2{
	grid-column: span 2;
}
.gvspan-2{
	grid-row: span 2;
}
.gspan-3{
	grid-column: span 3;
}
.gvspan-3{
	grid-row: span 3;
}
.gspan-4{
	grid-column: span 4;
}
.gvspan-4{
	grid-row: span 4;
}
.gspan-5{
	grid-column: span 5;
}

.gvspan-5{
	grid-row: span 5;
}


.gvspan-7{
	grid-row: span 7;
}
.wrap-num{
	background-image: url(img/assets/profile/black-gb.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 4rem;
	
}
.number{
	font-size: 2.5rem;
	color: var(--bianco);
	transform: translate(2rem, -0.3rem);
}
.descrizione{
	text-transform: none;
	line-height: 2.2rem;
	font-size: 2rem;
	font-weight: bold;
}

.t-left{
	transform: translate(5rem,0rem);
}
.t-right{
	transform: translate(-10rem,0rem);
}

.footer{
	margin-top: 10rem;
	background-color: var(--nero);
	color: var(--bianco);
	height: 20rem;
	padding: 3rem;
	overflow: hidden;
	scroll-behavior: auto;
}

.footer .flex{
	justify-content: space-between;
}

.container .descrizione{
	width: 40rem;
	font-size: 1.4rem;
	font-weight: 200;
}

.contact-form{
	padding: 3rem;
	margin: 0;
	gap: 1rem;
	grid-template-columns: 2fr 0.5fr 1fr;
}

.contact-form a{
	font-family: Montserrat, sans-serif;
	font-weight: 300;
}
.contact-form img{
	height: 50%;
	width: auto;
}

.blocco{
	margin: 10rem 0rem;
	grid-template-columns: repeat(4,1fr);
	gap: 3rem;
	line-height: 2.5rem;
}

.blocco .descrizione{
	font-size: 2rem;
	line-height: 2.2rem;
}
.blocco h1{
	line-height: 3.5rem;
	max-width: 80%;
}
#gs2 .quote{
	max-width: 95%;
}
.quote{
	font-size: 4rem;
	font-family: "Integral";
	line-height: 3.5rem;
}

.cit{
	font-size: 1.5rem;
	text-transform: none;
	transform: translate(0rem,5rem);
}
.uomini-bg{
	height: 45rem;
	background-repeat: no-repeat;
	background-image:	url(img/assets/getstressed/r-uomini.png);
	background-size: 100vw;
	overflow: visible;
	margin-bottom: 5rem;
}
.uomini{
	height: 100%;
	background-repeat: no-repeat;
	background-image:	url(img/assets/getstressed/uomini.png);
	background-size: 100vw;
	overflow: hidden;
}


.statement{
	background-repeat: no-repeat;	
	background-position: center;
}
.statement h2{
	font-family: "Integral";
	font-weight: bolder;
	font-size: 3rem;
	line-height: 3.5rem;
	color: var(--bianco);
	align-content: center;
}

.ear-bg{
	height: 55rem;
	background-repeat: no-repeat;
	background-image:	url(img/assets/getstressed/v3.png);
	overflow: visible;
	background-position: center;
}
.ear{
	height: 80%;
	background-size: 15%;
	background-repeat: repeat-x;
	background-image:	url(img/assets/getstressed/orecchio.png);
	overflow: visible;
	background-position: center;
	animation: rot-ear 1s ease-in-out forwards infinite alternate;
}

.container h2{
	font-size: 3.5rem;
	margin: 10rem 0rem 3rem 0rem;
}

video{
	width: 70vw;
	align-content: center;
}

.mano-bg{
	height: 55rem;
	background-repeat: no-repeat;
	background-image:	url(img/assets/getstressed/v3.png);
	overflow: visible;
	background-position: center;
}
.mano{
	height: 55rem;
	background-size: 70%;
	background-repeat: no-repeat;
	background-image:	url(img/assets/getstressed/mano_indica.png);
	overflow: visible;
	background-position: center;
	
	animation: down-up 1s ease-in-out forwards infinite alternate;
}

.map-section{
	grid-template-columns: 0.1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr 3.5fr;
	row-gap: 0;
	margin-bottom: 10rem;
	margin-top: 5rem;
}
.map-section .descrizione{
	max-width: 65rem;
}
.city-search{
	background-image: url(img/assets/cm/r1.png);
	height: 7rem;
	width: 100%;
	background-size: 70%;
	background-position: left;
	background-repeat: no-repeat;
}
select{
	margin-top: 0.5rem;
	margin-left: 1rem;
	width: 55%;
	height: 80%;
	font-size: 1.6rem;
	background-color: var(--nero);
	color: var(--bianco);
	border-style: none;
}
.map{
	background-image: url(img/assets/cm/milan-street-map.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: left;
}
.rank-section{
	grid-template-columns: 0.1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(11,0.1fr);
	margin-bottom: 10rem;
}
.rank-section img{
	grid-row: span 10;

}
.rank-card{
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 0.1fr 0.3fr;
	padding: 0;
	margin:0;
}

.wrap-level{
	/*background-image: url(img/assets/cm/v1.png);*/
	background-position: left top;
	background-size: fill;
	background-repeat: no-repeat;
	height: 100%;
}
.wrap-level h3{
	font-family: "Integral";
	color: var(--rosso);
	font-size: 2rem;
	/*transform: translate(3rem, 1rem);*/	
}



.h2-lh-adjust{
	line-height: 2.5rem;
}

.stress-section{
	grid-template-columns: repeat(4,1fr);
	margin-top: 5rem;
	margin-bottom: 10rem;
}
.stress-section .descrizione{
	margin-bottom: 10rem;
}
.wrap{
	height: 40rem;
	background-repeat: no-repeat;
}
.stress-section #v1{
	background-image: url(img/assets/sk/v1_0.png);
	transition: 0.4s;
}
.stress-section #v1:hover{
	background-image: url(img/assets/sk/v1_60.png);
}

.stress-section #v2{
	background-image: url(img/assets/sk/v2_0.png);
	transition: 0.4s;
}
.stress-section #v2:hover{
	background-image: url(img/assets/sk/v2_60.png);
}

.wrap h2{
	color: var(--bianco);
	margin: 5rem 0rem 0rem 10rem;
}

.wrap .descrizione{
	color: var(--bianco);
	max-width: 30rem;
	margin: 5rem 10rem 0rem 10rem;
}

.how-section{
	grid-template-columns: 0.1fr, 1fr, 1fr, 1fr, 1fr;
	margin-bottom: 10rem;
}
.how-section .descrizione{
	max-width: 100%;
}

.step-card{
	grid-template-columns: repeat(4,1fr);
	padding: 0rem 5rem;
}
.step-card .descrizione{
	max-width: 40rem;
}

.buy-section{
	grid-template-columns: 0.1fr 1fr 1fr 1fr;
	margin-bottom: 10rem;
}
.buy-section .descrizione{
	max-height: 10rem;
}


.product-card{
	border-style: solid;
	border-color: var(--nero);
	border-radius: 3px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: var(--bianco);
}
.product-card .imgBox{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: var(--nero);
}
.product-card .imgBox:before{
	/* content: "Stressor Kit"; */
	position: absolute;
	top: 2rem;
	left: 2.4rem;
	color: var(--bianco);
	font-family: 'Integral';
	font-size: 2rem;
	line-height: 2rem;	
}
.product-card .imgBox img{
	position: relative;
	width: 100%;
	object-fit: fill;
	transition: .9s linear;
}

.product-card .details{
	/* display: flex; */
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	padding: 2rem;
}
.product-card .details h2{
	margin:0 15%;
	padding: 0;
	font-size: 3rem;
	line-height: 3.2rem;
	color: var(--rosso);
}
.product-card .details h2 span{
	font-size: 1.6rem;
	text-transform: uppercase;
	font-family: 'Integral';
	color: var(--rosso-variant);
}
.product-card .details p{
	max-width: 80%;
	max-height: 60% ;
	font-size: 2rem;
	margin: 3rem 15%;
}
.product-card .details h3{
	margin: 0 15%;
	padding-top: 4rem;
	font-size: 4rem;
	color: var(--nero);
	font-family: 'Integral';
	float: left;
}
.product-card .details button{
	float: right;
	padding: 1.5rem 3rem;
	font-size: 1.5rem;
}
.product-type{
	margin-top: 2rem;
	font-family: 'Integral';
	line-height: 2rem;

}
.product-type span{
	font-family: 'Montserrat';
	font-weight: 800;
	text-transform: uppercase;
	margin-right: 3rem;
	cursor: pointer;
}

.product-type .active{
	border-bottom-style: solid;
	border-color: var(--rosso-variant);
}
/* 
.kit-card{
	grid-template-columns: repeat(4,1fr);
	padding: 0rem 5rem;
	max-height: 80rem;
	border-color: var(--nero);
	border-style: solid;
	border-width: thick;
	border-radius: 2rem;
	background-color: var(--nero);
}
.kit-card h2{
	color: var(--bianco);
}

.kit-card .descrizione{
	color: var(--bianco);	
	font-weight: 900;
	font-size: 3rem;
	max-height: 10rem;
}
.kit-card .classic{
	height: 8rem;
	width: 28rem;
}

.kit-card img{
	max-width: 100%;
	object-fit: cover;
} */

.bg-bocca{
	height: 50rem;
	width: 100%;
	background-image: url(img/assets/sk/bocca-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
}

.bocca{
	height: 100%;
	width: 70%;
	background-size: 50%;
	background-image: url(img/assets/sk/bocca.png);
	background-repeat: no-repeat;
	background-position: center;
	animation: bocca 1s ease-in-out forwards infinite alternate-reverse;
}

.sign-up-section{
	grid-template-columns: 0.1fr 0.3fr 1fr 1fr;
	margin-left: 10%;
}

label{
	font-size: 1.4rem;
	text-transform: none;
}

.wrap-input{
	background-image: url(img/assets/su/v1.png);
	background-size: contain;
	background-repeat: no-repeat;
}

input{
	background-color: transparent;
	border: none;
	margin: 1.5rem 4rem;
	color: var(--bianco);
	font-size: 1.4rem;
}
#subscirbe{
	margin-left: 10%;
}
/*Keyframe animazioni*/
@keyframes down-up{
	100%{
		transform: translate(0, 5rem);
	}
}
@keyframes rot-ear{
	100%{
		transform: rotate(1deg);
	}
}

@keyframes eye{
	100%{
		transform: rotate(5deg) scale(110%);
	}
}

@keyframes bocca{
	100%{
		transform: scale(103%);
	}
}